# Lab2

# Zadanie 6
Wykorzystując poniższą tabelę zaprojektuj słownik, zawierający poniższe informacje, a następnie wyświetl jego zawartość (klucz : wartość).

In [11]:
d=dict()
d={ 
    0: 'Styczeń',
    1: 'Luty',
    2: 'Marzec',
    3: 'Kwiecień',
    4: 'Maj',
    5: 'Czerwiec',
    6: 'Lipiec',
    7: 'Sierpień',
    8: 'Wrzesień',
    9: 'Październik',
}

0 :  Styczeń
1 :  Luty
2 :  Marzec
3 :  Kwiecień
4 :  Maj
5 :  Czerwiec
6 :  Lipiec
7 :  Sierpień
8 :  Wrzesień
9 :  Październik

-wyświetl nazwy wszystkich kluczy za pomocą odpowiedniej funkcji wbudowanej,

-wyświetl nazwy wszystkich wartości za pomocą instrukcji powtarzania „for”,dodaj poniższe elementy do słownikaz poprzedniego zadania,

In [52]:
print(d.keys(),'\n');

for key in d:
    print(key,": ",d[key]);

dict_keys([0, 2, 3, 5, 6, 7, 8, 9, 10])

0 :  Styczeń
2 :  Marzec
3 :  Kwiecień
5 :  Czerwiec
6 :  Lipiec
7 :  Sierpień
8 :  Wrzesień
9 :  Październik
10 :  Listopad

dodaj poniższe elementy do słownikaz poprzedniego zadania

In [19]:
d[10] = 'Listopad'
d[11] = 'Grudzień'

Listopad Grudzień

wyświetl słownik po zmianach (klucz : wartość),

In [20]:
for key in d:
    print(key,": ",d[key]);

0 :  Styczeń
1 :  Luty
2 :  Marzec
3 :  Kwiecień
4 :  Maj
5 :  Czerwiec
6 :  Lipiec
7 :  Sierpień
8 :  Wrzesień
9 :  Październik
10 :  Listopad
11 :  Grudzień

wyświetl ilość elementów znajdujących się w słowniku,

In [21]:
print(len(d))

12

sprawdź czy „Listopad” jest elementem słownika →jeśli jest, wówczas wyświetl słowo „TAK”, w przeciwnym przypadku „NIE”

In [30]:
if ( 'Listopad' in d.values()):
    print('TAK')
else:
    print('NIE')

TAK

# Zadanie 8

Na podstawie poprzedniego zadania:
    
-wykonaj kopię słownika i zapisz ją w postaci słownika o nazwie kopia

In [34]:
kopia=dict()
kopia=d.copy()
for key in kopia:
    print(key,": ",kopia[key]);

0 :  Styczeń
1 :  Luty
2 :  Marzec
3 :  Kwiecień
4 :  Maj
5 :  Czerwiec
6 :  Lipiec
7 :  Sierpień
8 :  Wrzesień
9 :  Październik
10 :  Listopad
11 :  Grudzień

usuń ze słownika takie miesiące jak: grudzień, maj i luty, a następnie wyświetl zawartość słownika po zmianach (klucz : wartość)

In [42]:
for key in kopia:
    if(kopia[key]=='Grudzień' or kopia[key]=='Maj' or kopia[key]=='Luty'):
        if kopia[key] in d.values():
            del d[key]

for key in d:
    print(key,": ",d[key]);

0 :  Styczeń
2 :  Marzec
3 :  Kwiecień
5 :  Czerwiec
6 :  Lipiec
7 :  Sierpień
8 :  Wrzesień
9 :  Październik
10 :  Listopad

sprawdź czy takie miesiące jak: grudzień, maj i luty są elementami słownika →jeśli są, wówczas wyświetl słowo „TAK”, w przeciwnym przypadku „NIE”,

In [46]:
if 'Grudzień' in d.values() and 'Maj' in d.values() and 'Luty' in d.values():
        print("TAK")
else:
        print("NIE")

NIE

wyświetl ilość elementów znajdujących się w słowniku i w kopii.

In [48]:
print('slownik: ', len(d))
print('kopia: ', len(kopia))

slownik:  9
kopia:  12

# zadanie 9


Spróbuj połączyć wszystkie czynności z zadania 6,7 i 8 w jeden notebook →wszystkie czynności muszą być realizowane w ramach jednej „komórki” .

# Zadanie 10
W ramach jednej „komórki” notebook’azrealizuj poniższe czynności:
wykorzystując poniższą tabelę zaprojektuj ramkę, zawierającą poniższe informacje, a następnie wyświetl jej zawartość

In [128]:
import pandas
df=pandas.DataFrame()
s1=pandas.Series(['Styczeń',
'Luty',
'Marzec',
'Kwiecień',
'Maj',
'Czerwiec',
'Lipiec',
'Sierpień',
'Wrzesień',
'Październik',
])


s2=pandas.Series([
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
])

df=pandas.DataFrame({0:s1, 1: s2})

df_app=pandas.DataFrame({0:['Listopad', 'Grudzień'], 1:['November', 'December']})
df=df.append(df_app, ignore_index=True)
#posortuj zawartość ramki względem nazwy miesiąca (a→z)i wyświetl wynik,
df=df.sort_values(by=[0,1])
#zmień nazwy kolumn: 0 →PL, 1 →ENG i wyświetl wynik.
df=df.rename(columns={0:"POL", 1:"ENG"})
df

            POL        ENG
5      Czerwiec       June
11     Grudzień   December
3      Kwiecień      April
6        Lipiec       July
10     Listopad   November
1          Luty   February
4           Maj        May
2        Marzec      March
9   Październik    October
7      Sierpień     August
0       Styczeń    January
8      Wrzesień  September